*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin: 20px auto;
    width: 500px;
    padding: 3rem 2rem;
    box-shadow: 0 0 8px 10px #b249db;
    font-style: italic;
}

h1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: #1565c0;
    border-bottom: 5px solid rgb(173, 122, 240);
    margin-bottom: 12px;
    border-radius: 5px;
}
input{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}
input:focus{
    background-color: rgb(148, 143, 223);
    color: #fff;
    box-shadow: 0 0 8px 5px #e1d7e6;
}
input:focus::placeholder{
    color: #fff;
}

.btn{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 1rem;
    border: 0;
    background-color: #5e0980;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin: 10px auto;
}
.btn:hover{
    background-color: rgb(201, 190, 190);
    color: #5e0980;
    box-shadow: 0 0 8px 5px #af41e6;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
li{
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 25px 45px rgba(97, 11, 131, 0.07);
}
